{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/resources/TestBundle/css/app.css') }}">
{% endblock %}

{% block body %}
    <div id="main">
        <button id="addProduct" class="btn">Add product</button>
        {% include 'TestBundle:table:productos.html.twig' %}
        {% include 'TestBundle:Default:modal_add_product.html.twig' %}

        <button id="addUser" class="btn">Add User</button>
        {% include 'TestBundle:table:user.html.twig' %}
        {% include 'TestBundle:Default:modal_add_user.html.twig' %}
    </div>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const url_get_product = "{{ path('test_get_products', {'id': 0}) }}"
        const url_insert_product = "{{ path('test_add_product') }}"
        const url_update_product = "{{ path('test_update_product') }}"
        const url_delete_product = "{{ path('test_delete_product') }}"

        
        const url_get_user = "{{ path('test_get_users', {'id': 0}) }}"
        const url_insert_user = "{{ path('test_add_user') }}"
        const url_update_user = "{{ path('test_update_user') }}"
        const url_delete_user = "{{ path('test_delete_user') }}"
    
    </script>

   
    <script src="{{ asset('Resources/TestBundle/js/index.js') }}"></script>
{% endblock  %}

