 {% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/resources/UserBundle/css/app.css') }}">
{% endblock %}

{% block body %}
    <div id="main">
        <button id="addUser" class="btn">Add product</button>
        {% include 'UserBundle:table:users.html.twig' %}
        {% include 'UserBundle:Default:modal_add_users.html.twig' %}
    </div>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script>

        const url_get_user = "{{ path('test_get_user', {'id': 0}) }}"
        const url_insert_user = "{{ path('test_add_User') }}"
        const url_update_user = "{{ path('test_update_User') }}"
        const url_delete_user = "{{ path('test_delete_User') }}"
    </script>
    <script src="{{ asset('Resources/UserBundle/js/index.js') }}"></script>
{% endblock  %}